*,
::after,
::before {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #e6f0ff;
  --primary-200: #b4d3fe;
  --primary-300: #82b6fd;
  --primary-400: #5098fc;
  --primary-500: #4681f4;
  --primary-600: #034caf;
  --primary-700: #02367d;
  --primary-800: #01214b;
  --primary-900: #000b19;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  /* --backgroundColor: var(--white); */
  --backgroundColor: var(--grey-100);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --view-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 150px;
  display: block;
  object-fit: contain;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--white);
  background: var(--black);
}
.btn-block {
  width: 100%;
}
/* End Of Global Styles*/
/* End Of Global Styles*/


/* Navbar.css */

/* 155263 */
.navbar {
  background:#155263;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-nav-center {
  width:80rem;
  display: flex;
  align-items: left;
  justify-content: left; /* Center the navigation links */
}

.nav-item {
  margin-right: 20px;
  display:inline;
  color:white;
}

.nav-link {
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 1rem;
}

/* 007bff */
.nav-link:hover {
  color:  #007bff;
}

.nav-cart{
  font-size:1.75rem;
  margin-left:30rem;
  
}

.nav-profile{
  margin-top: 20px;
  font-size:1.75rem;
  margin-left:2rem;
  margin-bottom: 0;
}

.nav-logout{
  font-size:1.25rem;
  margin-left:4rem;
  background: transparent;
  cursor: pointer;
  border: none;
  color: #fff;
  transition:var(--transition);
}

.nav-logout:hover{
  color: #007bff;
}

.nav-login:hover{
  color: #007bff;
}

.user-info{
  text-align: center;
  margin: 10px;
  font-size: 1.25rem;
}

/* Categories.css */

.categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top:30px;
}

.categories-button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 10px; /* Add space between buttons */
}

.categories-button:hover {
  background-color: #0056b3;
}

.categories-button.active {
  background-color: #0056b3;
}

.all-categories{
  width:40vw;
}

.categories-others{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.filter-button {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-button:hover {
  background-color: #007bff;
  color: #fff;
}

.filter-button.active{
  background-color: #007bff;
  color: #fff;
}

.categories-container .all-categories-button {
  margin-right: 10px; 
}

.categories-container .all-categories-button:hover {
  background-color: #0056b3;
}


/* Product Card */

.section-loading,section-center{
  padding:3rem 0;
  width:var(--view-width);
  max-width:var(--max-width);
  margin:0 auto;
}

.section-noitems{
  text-align:center;
}

.section-center,.cart-items{
  margin-left:40px;
  margin-top:40px;
  display:grid;
  gap:2rem;
}

@media screen and (min-width:776px){
  .section-center,.cart-items{
    grid-template-columns:1fr 1fr;
  }
}

@media screen and (min-width:992px){
  .section-center,.cart-items{
    grid-template-columns:1fr 1fr 1fr;
  }
}

.single-product{
  background-color:var(--white);
  width:400px;
  color:var(--textColor);
  border-radius:var(--borderRadius);
  box-shadow:var(--shadow-2);
  transition:var(--transition);
  display:flex;
  justify-content:center;
  align-items:center;
}

.text-area{
  padding-left:8px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.single-product:hover{
  box-shadow:var(--shadow-4);
}

.single-product img{
  height:15rem;
  border-top-left-radius:var(--borderRadius);
  border-top-right-radius:var(--borderRadius);
  cursor:pointer;
}

.single-product h5{
  padding:0;
  margin:0;
}

.single-product footer{
  padding:1rem 1.5rem;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}

.title-text{
  height:11rem;
  display:flex;
  align-items:center;
  text-align:center;
}

.cart-buy-btn{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}

.cart-btn{
  background:#fabd05;
  color:black;
  border:transparent;
  font-size:0.9rem;
  margin-right:1rem;
  transition:var(--transition);
}

.cart-btn:hover{
  background:#fc6f03;
  transform:translateY(-2px);
}

.mrp-text{
  display:flex;
  justify-content:center;
  align-items:top;
}

.mrp-text h5{
  margin-right:5px;
}

.buy-btn{
  background:red;
  font-size:0.9rem;
  transition:var(--transition);
}

.buy-btn:hover{
  background:var(--red-dark);
  transform:translateY(-2px);
}

/* Modal Setup */
.modal-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.85);
  display:grid;
  place-items:center;
  transition:var(--transition);
  z-index:100;
}

.modal-container{
  width:95vw;
  max-width:1000px;
  height:95vh;
  overflow:hidden;
  background:var(--white);
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  display:flex;
}



/* modal.css */

.modal-img {
  width:25vw;
  object-fit: contain;
  cursor:pointer;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.modal-content {
  padding: 20px;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}

.modal-content h3 {
  margin: 0;
  font-size: 24px;
  font-weight:bold;
  text-align:center;
  color: #333;
}

.modal-content h5 {
  margin: 5px 0;
  font-size: 16px;
}

.modal-price{
  font-size:22px;
}

.modal-content p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

.modal-category p{
  display:inline;
  font-size:8px;
}

.modal-content button{
  display:inline;
  padding: 10px 20px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size:0.9rem;
  transition:var(--transition);
}

.modal-buy{
  background-color: red;
  color: #fff;
}

.modal-buy:hover{
  background:var(--red-dark);
  transform:translateY(-2px);
}

.modal-cart{
  background:#fabd05;
  color:black;
  transition:var(--transition);
}

.modal-cart:hover{
  background:#fc6f03;
  transform:translateY(-2px);
}

.close-modal{
  height:30px;
  font-size:25px;
  border:transparent;
  background-color:#fff;
  cursor:pointer;
}

.cart-title{
  text-align:center;
}

/* Add these styles to your existing stylesheet */
.countHandler {
  display: flex;
  align-items: center;
}

.count-button,.count-button-plus{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 36px;
  height: 36px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.count-button-plus{
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
}

.count-button:hover {
  background-color: #0056b3;
}

.count-input {
  border: 1px solid black;
  border-radius: 0;
  padding: 0.5rem;
  font-size: 16px;
  width: 50px;
  text-align: center;
  border-left: none;
  border-right: none;
}

.count-button:last-child {
  border-radius: 0 4px 4px 0;
}

/* Cart.css */

.cart-container {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  min-height:300px;
}

.cart-header {
  text-align: center;
  margin-bottom: 20px;
}

.cart-title {
  font-size: 24px;
  color: #333;
}

.cart-items {
  margin-bottom: 20px;
}

.cart-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.subtotal {
  font-size: 18px;
  margin-bottom: 10px;
}

.continue-btn,
.checkout-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.continue-btn{
  background:#fabd05;
  color:black;
}


.continue-btn:hover{
  background:#fc6f03;
  color:white;
  transform:translateY(-2px);
}

.checkout-btn{
  background: red;
}

.checkout-btn:hover{
  background:var(--red-dark);
  transform:translateY(-2px);
}

.empty-cart-title {
  font-size: 18px;
  color: #555;
  text-align: center;
}

.bin-btn{
  margin-left:10px;
  font-size:18px;
}

.error {
  text-align: center;
  padding: 50px;
}

.error h2 {
  font-size: 2.5rem;
  color: #e74c3c;
  margin-bottom: 10px;
}

.error div{
  font-size: 1.2rem;
  color: #888;
  text-align:center;
}

/* Contact */
.contact{
  margin-left: 50px;
}

/* contact.css */

/* Flex and layout styles */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-10 {
  gap: 2.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

/* Container styles */
.custom-contact-form {
  flex: 0.75;
  margin-left:1.5rem;
  background: #151030;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Text styles */
.section-sub-text {
  font-size: 16px;
  color: #ffffff;
}

.section-head-text {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
}

.custom-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.custom-label-text {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 14px;
  color: #ffffff;
}

/* Input and textarea styles */
.custom-input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  background-color: #242d3b;
  color: #ffffff;
}

/* Button styles */
.custom-button {
  background-color: #4caf50;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Earth canvas styles */
.custom-earth-canvas {
  flex: 1;
  height: auto;
}

.contact-box{
  background-color:#050816;
  margin-top:0px;
  padding-top:40px;
  padding-bottom:40px;
}

/* Footer CSS  */
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #333; /* Dark gray background */
  color: #fff; /* Text color */
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  margin-top:30px;
}

.footer-section { /* Calculate width with spacing between sections */
  margin-bottom: 20px;/* Space between sections */
  margin-left:40px;
  padding:30px;
  height:280px;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff; /* Header text color */
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 5px;
}

.footer a {
  text-decoration: none;
  color: #bbb; /* Link color */
}

.footer a:hover {
  color: #fff; /* Link color on hover */
}

.footer-copyright {
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding-top: 20px; /* Space between sections and copyright */
}


/* Search */ 
/* .search-container{
  height:5rem;
  background:var(--white);
  display:flex;
  align-items:center;
  justify-content:center;
}

.search-container form{
  width:var(--view-width);
  max-width:var(--max-width);
  display:flex;
  flex-wrap:wrap;
}

.search-container .form-input{
  max-width:500px;
  width:300px;
  padding:0.375rem 0.75rem;
  border-radius:var(--borderRadius);
  background:var(--backgroundColor);
  border:1px solid var(--grey-200);
}

input[type=text]:focus{
  outline:2px solid blue;
}

::placeholder{
  font-family:inherit;
  color:var(--grey-400);
  font-size:1rem;
}

.search-container .btn{
  font-size:0.8rem;
  background:var(--backgroundColor);
  background-color:#0352fc;
  border-top-right-radius:var(--borderRadius);
  border-bottom-right-radius:var(--borderRadius);
}
 */

/* Search */
.search-container {
  height: 5rem;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container form {
  width: var(--view-width);
  max-width: var(--max-width);
  display: flex;
  flex-wrap: wrap;
}

.search-container .form-input {
  max-width: 500px;
  width: 300px;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  color: var(--grey-800); /* Added text color */
  font-size: 1rem; /* Adjust font size */
}

.search-container .form-input:focus {
  outline: 2px solid blue;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
  font-size: 1rem;
}

.search-container .btn {
  font-size: 0.8rem;
  background-color: #0352fc;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  border: none;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  color: var(--white); /* Added text color */
}

/* Adjust icon size */
.search-container .btn svg {
  font-size: 1rem;
}

/* Add hover effect to button */
.search-container .btn:hover {
  background-color: #00399e;
}


/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.login-form {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-title {
  margin: 0;
  font-size: 32px;
  font-weight:bold;
  text-align: center;
  color: #333;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.login-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Rest of your styles... */
/* Register.css */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  margin-top: 20px;
}

.register-form {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.register-title {
  margin: 0;
  font-size: 32px;
  font-weight:bold;
  text-align: center;
  color: #333;
}

.register-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.register-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.register-button:hover {
  background-color: #0056b3;
}

.payments-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
}

.payments-left {
  flex: 1;
  padding-right: 20px;
  text-align:center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.payments-right {
  flex: 1;
  padding-left: 20px;
  border-left: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-left:20px;
  padding-bottom:20px;
}

.payments-right h2{
  text-align:center;
}

.order-summary-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.order-summary-item {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.payment-form label,
.payment-form input,
.payment-form select {
  margin-bottom: 10px;
  margin-right:10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.payment-form label{
  margin-right:30px;
}

.payment-form input,.payment-form select{
  background:white;
  color:black;
  font-size:14px;
  width:500px;
}

.payment-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.payment-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.address-form label {
  font-weight: bold;
}

.payment-button.success {
  background-color: #28a745;
}

.login-link{
  padding-top:10px;
  text-align:center;
}

.nav-login{
  color:black;
}

.register-error{
  color:rgb(130, 14, 14);
  text-align:center;
  font-size: 18px;
  background-color: #f8d7da;
  border: 2px solid #f5c2c7;
  border-radius: 5px;
  margin: 10px;
}

.register-success {
  color: rgb(1, 91, 1);
  background-color: #a9f6b2;
  border: 2px solid #a0eac1;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px; 
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ee9004;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f35e02;
}

